[submodule "message/PyBitmessage"]
	path = message/PyBitmessage
	url = https://github.com/Bitmessage/PyBitmessage/
[submodule "color/ngcccbase"]
	path = color/ngcccbase
	url = http://github.com/israellevin/ngcccbase
[submodule "multibit/multibit"]
	path = multibit/multibit
	url = https://github.com/rottev/multibit
