[submodule "message/bitmessage/PyBitmessage"]
	path = message/bitmessage/PyBitmessage
	url = https://github.com/Bitmessage/PyBitmessage/
[submodule "color/ngccc/ngcccbase"]
	path = color/ngccc/ngcccbase
	url = http://github.com/israellevin/ngcccbase
[submodule "client/multibit/multibit"]
	path = trader/multibit/multibit
	url = https://github.com/rottev/multibit
